:root{
    --cor-fundo:#DB0000;
    --cor-fontes: #FFFDFD;
}
.cabecalho{
    background-color:#DB0000;
    color: #DB0000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;    
}
.imagem-cabecalho{
    width: 10%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

}