:root{
    --cor-fundo:#DB0000;
    --cor-fontes: #FFFDFD;
}
.cabecalho{
    background-color:var(--cor-fundo);
    color: var(--cor-fontes);
    display: flex;
    justify-content: left;
align-items: center;
padding: 24px 0;    
}
.imagem-cabebalho{
    width: 100%;
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}